<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="WebForm1.SiteMaster" %>

<!DOCTYPE html>

<html lang="zh">
<head runat="server">

  
    <title><%: Page.Title %> - 我的 ASP.NET 應用程式</title>

    

    <webopt:bundlereference runat="server" path="~/Content/css" />
    

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
               
            </Scripts>
        </asp:ScriptManager>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" runat="server" href="~/">應用程式名稱</a>
                
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="Main.aspx">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Booking.aspx">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Login.aspx">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
                
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - 我的 ASP.NET 應用程式</p>
            </footer>
        </div>
    </form>
    
</body>
</html>
